<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <title>API Summary Report</title>
    <style type="text/css">
        select {
            width: 25em;
        }

        h1,
        h2 {
            margin-top: 2rem;
            margin-bottom: 2rem;
            font-weight: 300
        }

        h1 {
            font-size: 2.6rem;
            line-height: 1.2;
            letter-spacing: -.1rem
        }

        h2 {
            font-size: 2.2rem;
            line-height: 1.25;
            letter-spacing: -.1rem
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            background-color: #f2e5ff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            overflow-x: auto;
            white-space: nowrap;
            min-width: 1400px;
        }

        .myDiv {
            /* border: 5px outset red; */
            background-color: rgb(243, 243, 243);
            text-align: center;
            align-items: center;
            /* display: flex; */
            justify-content: center;
            padding: 20px;
        }

        .filter-styled-table {
            font-family: sans-serif;
            font-size: 1.1em;
            border-collapse: collapse;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            /* position: sticky; */

        }

        /* .filter-styled-table tr {
          text-align: center;
          vertical-align: middle;
        } */

        .styled-table {
            font-family: sans-serif;
            font-size: 1.1em;
            border-collapse: collapse;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            position: sticky;

        }

        .styled-table td,
        th {
            border: 1px solid #ddd;
            padding: 10px;
        }

        .styled-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .styled-table tr:hover {
            background-color: #ddd;
        }

        .styled-table th {
            padding-left: 10px;
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #b45700;
            color: white;
        }

        .data-table {
            font-family: sans-serif;
            font-size: 0.8em;
            border-collapse: collapse;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            position: sticky;
            text-align: center;
        }

        .data-table th {
            padding-left: 10px;
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #b45700;
            color: white;
            text-align: center;
        }

        .data-table td,
        tr th {
            border: 1px solid #ddd;
            padding: 10px;
        }

        .button-2 {
            background-color: #edc1ff;
            border: 1px solid #f8f9fa;
            border-radius: 4px;
            color: #000000;
            cursor: pointer;
            font-family: arial, sans-serif;
            font-size: 14px;
            height: 36px;
            line-height: 27px;
            min-width: 54px;
            padding: 0 16px;
            text-align: center;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: pre;
        }

        .button-2:hover {
            border-color: #9c9c9c;
            box-shadow: rgba(0, 0, 0, .2) 0 2px 2px;
            color: #202124;
        }

    </style>
</head>

<body>

    <div id="myDiv" class="myDiv">
        <h1> :::: API Summary Report :::: </h1>

        <!-- <h2>Report Info</h2> -->
        <table class="styled-table" style="width:50%">
            <tr>
                <th colspan="2" style="text-align: center;">Report Details</th>
            </tr>
            <tr>
                <td>Time Window</td>
                <td>From: {{fromDate}} To: {{toDate}}</td>
            </tr>
            <tr>
                <td>Data Granularity</td>
                <td>{{GRANULARITY}}</td>
            </tr>
            <tr>
                <td>Report Generated on</td>
                <td>{{date}}</td>
            </tr>
        </table>
        <br /><br />
        <!-- <h2>Overall Summary</h2> -->
        <table class="styled-table" style="width:50%">
            <tr>
                <th colspan="2" style="text-align: center;">Overall Summary</th>
            </tr>
            <tr>
                <td>API Name</td>
                <td>{{ API_NAME }}</td>
            </tr>
            <tr>
                <td>Number of Applications</td>
                <td>{{ TOTAL_APPS }}</td>
            </tr>
            <tr class="active-row">
                <td>Total Number of Requests</td>
                <td>{{ TOTAL_REQ }}</td>
            </tr>
        </table>
        <br /><br />
        <h2>Overall Latencies for Applications</h2>
        <table id="AppDataTable" class="data-table" style="width:70%">
        </table>

        <br /><br />
        </div>
    </div>

    <script>
        const granularity = 'MINUTE';
        const appMap = {{ APP_MAP }};

        populateAppTable();

        function populateAppTable() {
            var tableRows = '<thead><tr><th colspan="9">Application Summary</th></tr><tr><th style="text-align: center;">Application Name</th><th>Average Latency</th> \
                <th>Min Latency</th><th>Max Latency</th><th>Request Count</th></tr></thead><tbody>';
            for (let app of appMap) {
                tableRows += "<tr><td>" + app.applicationName + "</td><td>" + app.averageResponse.toLocaleString('en-US') +
                    "</td><td>" + app.minResponseTime.toLocaleString('en-US') + "</td><td>" + app.maxResponseTime.toLocaleString('en-US') + "</td><td>" + app.reqCount.toLocaleString('en-US') + "</td></tr>"
            }
            document.getElementById("AppDataTable").innerHTML = tableRows + '</tbody>';
        }

    </script>
</body>

</html>